[Desktop Entry]
Name=JapaChar
Exec=japachar %U
Type=Application
Icon=me.sergiotarxz.JapaChar
Categories=Education;Game
MimeType=x-scheme-handler/japachar
